.shopping {
  display: flex;
  flex-direction: column;
  gap: var(--space-4);
}
.shopping h1 {
  display: flex;
  justify-content: center;
}

.shopping-content {
  display: flex;
  gap: var(--space-4);
  justify-content: center;
}
