.product-details {
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: center;
}
.product-text {
  display: flex;
  flex-direction: column;
}

.product-quantity {
  display: flex;
  flex-direction: row;
  gap: 20px;
}

.product-quantity button {
  background-color: transparent;
  border: none;
}
.product-add {
  display: flex;
  flex-direction: row;
  background-color: transparent;
  gap: 10px;
}

.product-add button {
  width: 100px;
  height: 50px;
  background-color: black;
  color: white;
  border: none;
  border-radius: 5px;
}
