.product {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  gap: 20px;
  padding: 20px;
}

.product a {
  text-decoration: none;
  color: inherit;
}
.price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.items {
  padding: 10px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.items img {
  width: 100%;
  height: 150px;
  object-fit: contain;
  background-color: #f9f9f9;
}

.product button {
  background-color: transparent;
  border: none;
}
