.search {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.search input {
  border: none;
  background: #d3d3d3;
  width: 20%;
  height: 30px;
  border-radius: 8px;
  padding: 10px;
}

.search .icons {
  display: flex;
  gap: 15px;
  padding: 10px;
}
