.toast p {
  padding: var(--space-6);
  background: var(--surface);
  position: fixed;
  bottom: 3rem;
  box-shadow: var(--shadow-md);
  border-radius: var(--radius-sm);
  left: 50%;
  transform: translateX(-50%);
}
